/*declaracion de tipos de letras a usar en las páginas*/

@font-face {
    font-family: San Francisco Ultralight;
    src: url('../fonts/SanFrancisco U.otf');
}
@font-face {
    font-family: Core Sans-37;
    src: url('../fonts/Core Sans D37 Regular.ttf');
}

/*a continuación, estilos para los backgrounds de cada página*/
#grad1{
    height: 30px;
    background-color: #EDEDED; /* Se establece un color base en caso de que el navegador que se use no soporte gradientes */
    background-image: linear-gradient(to bottom right, #44b880, #44b6b8); /* Sintaxis para establecer backgrounds con gradientes */
}

.content{ /*estilo para contenidos*/
    font-family: San Francisco Ultralight;
    font-size: 16px;
    line-height: 1.3;
    font-style: normal;
    text-align: justify;
    width: 100%;
    text-align: center;
    color:#525252;
    margin:1px;
}

.buttons{ /*estilo para los botones de navegacion*/
    padding: 10px 25px;
    font-family: Arial;
    position: center;
    float: left;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 80%;
    font-size: 18px;
    font-weight: 300;
    background: #343A41;
    color: #FFFFFF;
    border-radius: 10px;
    text-transform: uppercase;
}
h2 { /*estilo para subtitulos*/
	font-family: Arial;
	font-size: 28px;
	font-style: normal;
	color: #ebf1f5;
    text-align: left;
    margin-left: 60px;
    margin-top: 5px;
}

.titles{ /*estilo para los titulos*/
    font-family: Core Sans-37;
    font-size: 32px;
    font-style: normal;
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #36383b;
}

.text{ /*definimos estilo para texto en donde el fondo es de alto contraste*/
	font-family: San Francisco Ultralight;
	font-size: 26px;
    line-height: 1.3;
	font-style: normal;
	text-align: justify;
	margin-left:100px;
    margin-right: 100px;
    margin-top: 5px;
	float:left;
  color: #ebf1f5;
}

/*estilos para enlaces*/
a:link {
	text-decoration: none;
}
a:link:hover {
	color: white;
}
/*estilo para pie de página*/
#footer{
    margin-top: 10px;
    background: #343A41;
    color: white;
    text-align: center;
    padding: 0.2em;
}
